body {
    background-color: #001789;
    color: #02D97F;
}

h1 {
    color: #FF3D02;
}

.center {
    display: table;
    margin: 0 auto;
}

.left {
    display: table;
    margin-right: auto;
}

.right {
    display: table;
    margin-left: auto;
}

#saveTable{
    border: 2px solid black;
}

#shopTable{
    border: 1px solid black;
}

#sodaButton:hover{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}

button{
    width: 125px;
}

td.shop{
    width: 125px;
    border: 1px solid black;
}
